.world-ep-situation{
    display: flex;
    width:1180px ;
    height: 395px;
    position: absolute;
    top: 891px;
    left: 70px;
}
.world-ep-situation .parent_cas{
    position: relative;
    width:590px;
    height: 395px;
}
.world-ep-situation canvas{
    position: absolute;
    top: 0;
    left: 0;
}